.cartContainer{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px solid rgb(93, 93, 93);
        max-height: 80vh;
        overflow-y: auto;
        h1{
            text-align: center;
            font-size: 1.4rem;
            color: rgb(93, 93, 93);
            margin-bottom: 15px;
        }
        .cartItems{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            img {
                margin-right: 10px;
                min-width: 75px;
                min-height: 110px;
                object-fit: cover;
                max-width: 75px;
                max-height: 110px;
              }
            .cartDetails{
            display: flex;
            flex-direction: column;
            p{
            color: rgb(83, 83, 83);
            }

            .p1{
                font-size: 1rem;
                margin-bottom: 5px;
                font-weight: 500;
            }

            .p2{
                font-size: .81rem;
                margin-bottom: 5px;
                font-weight: 400;
            }

            .p3{
                font-size: .9rem;
                color: #3270F6;
            }
        }
        .deleteIcon{
            color: red;
            cursor: pointer;
            margin-left: 5px;
        }
    }

    .subTotal{
        margin-top: 15px;
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;

        .p4{
            margin-right: 5px;
        }
    }

    .checkout{
        h1{
            text-transform: uppercase;
            color: #fff;
            background-color: #3270F6;
            width: fit-content;
            padding: 8px 18px;
            cursor: pointer;
            font-size: .8rem;
            letter-spacing: 0.015rem;
            margin-bottom: 15px;
            margin-top: 15px;
    }
    }
    @media screen and (max-width:1200px){
        h1{
            font-size: 1.2rem;
            margin-bottom: 7px;
        }
        .cartDetails{
            .p2{
                display: none;
            }
        }
    }
}