.navContainer{
    max-width: none;
    width: 100vw;
    padding: 10px 30px;
    position: sticky;
    display: flex;
    top: 0;
    background-color: white;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    font-weight: 500;
    z-index: 9998;

    .icon{
        color: #717171;
        cursor: pointer;
    }

    .left{
        display: flex;
        gap: 10px;

        .img{
            display: flex;
            cursor: pointer;
            img{
                height: 20px;
                width: 35px;
            }
        }
    }
    
    .center{
        font-size: 1.3rem;
        font-weight: 500;
        display: flex;
        gap: 7px;
    }

    .right{
        display: flex;
        gap: 10px;
        .cartButton{
            position: relative;
            cursor: pointer;
                .cart{
                width: 500px;
                z-index: 9999;
                min-width: 180px;
                position: absolute;
                right: 0;
                background-color: white;
            }
            span{
                color: white;
                background-color: #3270F6;
                font-size: .75rem;
                font-weight: 300;
                border-radius: 50%;
                position: absolute;
                top: -5px;
                right: 0;
                transform: translateX(50%);
                height: 18px;
                width: 18px;
                text-align: center;
                cursor: pointer;
            } 
        }
    }

    .right-icons{
        display: none;
    }

    @media screen and (max-width: 1200px) {
        .left{
            display: none;
        }
        .left-menu{
        position: relative;
        .open{
            margin-top: 10px;
            visibility: visible;
            position: absolute;
            transform: translateX(-10px);
            top: 100%;
            left: 0;
            z-index: 999;
            background-color: #fff;
            padding: 0px 15px 15px;

           .img{
            display: flex;

            img{
                height: 20px;
                width: 35px;
            }
        }
        }

        .closed{
            display: none;
        }

    }
        .right{
            display: none;
        }

        .right-icons{
            display: flex;
            gap: 10px;
            cursor: pointer;

            .cartButton{
                position: relative;
                cursor: pointer;
                    .cart{
                    z-index: 9999;
                    min-width: 180px;
                    position: absolute;
                    right: 0;
                    background-color: white;
                }
                span{
                    color: white;
                    background-color: #3270F6;
                    font-size: .75rem;
                    font-weight: 300;
                    border-radius: 50%;
                    position: absolute;
                    top: -5px;
                    right: 0;
                    transform: translateX(50%);
                    height: 18px;
                    width: 18px;
                    text-align: center;
                    cursor: pointer;
                }  
            }
        }
    }

    @media screen and (min-width: 1200px) {
       .left-menu{
        display: none;
       }
        .open{
        display: none;
        }
        .close{
            display: none;
        }
    }
}